@inherits LayoutComponentBase

<MudThemeProvider Theme="@ThemeConfigs.Theme" IsDarkMode="@ThemeConfigs.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudDrawer id="nav-drawer" Open="@ThemeConfigs.DrawerOpen">
        <MudPaper>
            <MudText id="nav-drawer-header" Typo="Typo.h5" Align="Align.Center" Class="my-2">Web.Diffy</MudText>
        </MudPaper>
        <MudNavMenu id="nav-drawer-menu" Bordered="true" Class="my-2">
            <MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
            <MudNavLink Href="resources" Match="NavLinkMatch.Prefix">Resources</MudNavLink>
            <MudNavLink Href="targets" Match="NavLinkMatch.Prefix">Targets</MudNavLink>
            <MudNavLink Href="snapshots" Match="NavLinkMatch.Prefix">Snapshots</MudNavLink>
            <MudNavLink Href="settings" Match="NavLinkMatch.Prefix">Settings</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="px-4 py-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
