@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1 id="counter-title" class="counter-title-class">Counter</h1>

<p id="counter-p" class="counter-p-class" role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentCount = DbMock.Counter;
    }

    private void IncrementCount()
    {
        currentCount++;
        DbMock.Counter = currentCount;
    }
}
